
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --red:oklch(62.793% 0.25768 29.223);
  --blue:oklch(61.794% 0.2064 261.408);
  --navyblue:oklch(43.561% 0.15991 259.62);
  --deepblue:oklch(35.87% 0.16124 261.615);
  --skyblue:oklch(66.062% 0.15366 259.347);
  --white:oklch(100% 0.00011 271.152);
  --black:oklch(0% 0 0);
  --lightblack:oklch(27.685% 0.00003 271.152);
  --text-color:oklch(27.685% 0.00003 271.152);
  --orange:oklch(81.974% 0.17054 78.465);
  --grey:oklch(97.614% 0.00011 271.152);
  --darkgrey:oklch(78.261% 0.00009 271.152);
}
/*-------------------default----------------*/
* {padding: 0; margin: 0; list-style-type: none;outline: none;}
img{max-width: 100%; height: auto;}
h1,h2,h3,h4,h5,h6 {padding:0; margin:0; line-height:100%;}
body { color:var(--text-color); line-height:1.7; font-size:16px;  font-family: "Inter", sans-serif;background-repeat: repeat;}
a,button {text-decoration: none !important; transition: 0.5s; border:  none;} 
ul,ol {padding: 0; margin: 0; list-style-type: none;}
/*-------------------default----------------*/

/******************* Index Page Start************************/
.c-btn-1 {border: none;background-color: var(--skyblue);color:var(--white);padding: 12px 30px;font-weight:600;border-radius: 3px;display: inline-block;position: relative;overflow: hidden;line-height: 100%;font-size: 16px; border-bottom: none !important;}
.c-btn-1 span {position: relative; z-index:2;}
.c-btn-1:before {content:""; display: block !important;position: absolute; left:-100%; top: 0;width: 100%; height: 100% !important;
 background:var(--orange);transition: 0.5s;} 
.c-btn-1:hover:before {left: 0;}
.c-btn-1:hover {color:var(--white)}

.c-btn-2 {border: none;background-color: var(--navyblue);color:var(--white);padding: 12px 30px;font-weight:600;border-radius: 3px;display: inline-block;position: relative;overflow: hidden;line-height: 100%;font-size: 16px; border-bottom: none !important;}
.c-btn-2 span {position: relative; z-index:2;}
.c-btn-2:before {content:""; display: block !important;position: absolute; left:-100%; top: 0;width: 100%; height: 100% !important;
 background:var(--orange);transition: 0.5s;} 
.c-btn-2:hover:before {left: 0;}
.c-btn-2:hover {color: var(--white)!important; }


/*header*/
.c-header-w {background-color:var(--blue);/* position: fixed; */width: 100%;top: 0;left: 0;z-index: 999;border-top: 8px solid var(--deepblue);}
.c-nav-top { display: flex;justify-content: flex-end; }
.c-nav-top-info { background-color:var(--main-color);padding: 7px 30px;transform: skew(-30deg);  }
.c-nav-top-info-in {transform: skew(30deg);}
.c-nav-top-info-in ul { display: flex; }
.c-nav-top-info-in li { padding-left: 50px; position: relative;margin-right: 20px; }
.c-nav-top-info-in li span { position: absolute;left: 0; top: 0; }
.c-nav-top-info-in li a { display: block;margin-bottom: 5px; color: var(--white);line-height: 100%; }
.c-nav-top-info-in li:last-child { margin: 0; }
.c-nav-top-social {padding: 7px 30px;transform: skew(-30deg); display: flex;align-items: center;
background-color: #000;}
.c-nav-top-social ul { display: flex;transform: skew(30deg); }
.c-nav-top-social ul li { padding-right: 6px; }
.c-nav-top-social ul li:last-child { padding-right: 0px; }
.c-nav-top-social ul li a { display: flex;background-color: var(--white);color: var(--main-color);
width: 38px; height: 38px; border-radius: 50%;align-items: center;justify-content: center;
font-size: 18px; }
.c-nav-top-social ul li a:hover {background-color:var(--main-color) ;color:var(--white) ;} 
.c-logo-w {padding: 8px 0;padding-top: 11px;}
.c-logo-w img {filter: invert(100%) sepia(100%) saturate(0%) brightness(200%);}
.c-nav-w { width: 100%; display: flex; justify-content: flex-end; }
.c-nav-bottom { display: flex; justify-content: flex-end; position: relative; }
.c-nav-bottom-list { display: flex; align-items: center; justify-content: flex-end; }
.c-nav-bottom-list > ul {display: flex;align-items: center;justify-content: flex-end;margin: 12px 0 15px;}
.c-nav-bottom-list > ul > li { padding: 0 15px;font-size: 18px; }
.c-nav-bottom-list > ul > li > a {display: block;color: var(--white);border-bottom: 4px solid transparent;text-transform: uppercase;}
.c-nav-bottom-list > ul > li > a:hover { border-bottom: 4px solid var(--orange); color: var(--white);}

.c-menu-btn { display: none; }

/*banner*/
.c-banner-main {position: relative;padding-bottom: 0;overflow: hidden;margin-bottom: 0;}
.c-banner-slide {background: var(--blue);padding: 0 0 140px;}
.c-banner-w h1 { color: var(--white); font-size: 124px; font-weight: bold; padding-bottom: 30px;}
.c-banner-w h2 {color: var(--white); font-size: 80px; font-weight: bold; padding-bottom: 30px;}
.c-banner-w h2 span { color: var(--orange);}
.c-banner-w h4 {color: var(--white);font-size: 48px;font-weight: 500;padding-bottom: 30px;}
.c-banner-img-new {position: absolute;right: 0;top:0;width: 55%;height: 100%;}
.c-banner-img-new img{object-position: top right;width: 100%;height: 100%;object-fit: cover;height: inherit;}
.c-banner-slide .container {position: relative;z-index: 9;padding: 10px 0 100px 0;}

.c-banner-w {position: relative;overflow: hidden;width: 100%;}
.c-banner-w  .slick-arrow {line-height: 38px;display: block;width:40px;height:40px;border: 1px solid var(--white);background:transparent;color:var(--white);font-size: 25px;position:absolute;left: 30%;z-index:99;bottom: 20%;border-radius: 50%;opacity: 0.6;}
.c-banner-w  .slick-arrow:hover { opacity: 1;}
.c-banner-w  .slick-next {left: 33%;color:var(--white);border:1px solid var(--white);}
.c-banner-w  .slick-next i {position: relative;left: 2px;top: -1px;/* line-height: 40px; */}
.c-banner-w .slick-dots {position: absolute;display: flex;left: 22%;bottom: 20%;}
.c-banner-w .slick-dots button {font-size: 0; border-radius: 50%; background:var(--orange);width:12px;height:12px;margin:5px}
.c-banner-w .slick-dots button:hover{background:var(--deepblue)}
.c-banner-w .slick-dots .slick-active button {border-radius: 30px; background:var(--deepblue);width:20px}
.c-banner-main .banner-bottom {width: 100%;position: relative;z-index: 10;margin-top: -233px;display: block;height: 234px;}
.c-banner-main .banner-bottom img { width: 100%; object-fit: cover; height: 100%; display: block; object-position: top;}
.c-banner-main .rating-section {display: flex;flex-direction: column;color: var(--white);font-weight: 200;padding: 0 0 0 170px;}
.c-banner-main .rating-section .rating-section-star {display: flex;margin: 0 0 10px 30px;}
.c-banner-main .rating-section .rating-section-star i { color: var(--deepblue); margin: 0 3px;}

.c-banner-main .banner-button {border: none;/* position: absolute; */bottom: -18px;left: -92px;margin: 20px 0 0 -100px;}
.c-btn-3 {border: none;background-color: var(--deepblue);color:var(--white);padding: 15px 60px;font-weight:600;font-size: 30px;border-radius:30px;display:inline-block;position: relative;overflow: hidden;line-height: 100%;border-bottom: none !important;}
.c-btn-3 span {position: relative; z-index:2;}
.c-btn-3:before {content:""; display: block !important;position: absolute; left:-100%; top: 0;width: 100%; height: 100% !important;
 background:var(--orange);transition: 0.5s;} 
.c-btn-3:hover:before {left: 0;}
.c-btn-3:hover {color: var(--white)!important; }


/*footer*/
.c-footer-w {padding: 40px 0 0;}
.c-footer-left .c-footer-logo {width: 125px;text-align: center;}
.c-footer-left ul {display: flex;margin-top: 20px;/* justify-content: center; */}
.c-footer-left ul li {padding-right: 35px;}
.c-footer-left ul li a { font-size: 22px;color: #a3a3a3; }
.c-footer-left ul li a:hover {color: #f29f48}

.c-footer-nav h3 {color: var(--black);font-size: 17px;margin-bottom:20px;}
.c-footer-nav ul li {display: block;line-height: 100%;}
.c-footer-nav ul li a {color:var(--lightblack);font-size: 14px; display: inline-flex;margin-bottom: 14px; display: inline-flex;position: relative;}
.c-footer-nav ul li a:hover {color:var(--blue);  padding-left: 5px;}
.c-footer-nav ul li:last-child a { margin:0; }
.c-footer-nav ul li a i { margin-right: 6px; }

.c-footer-bottom { text-align: center; padding: 10px 0;margin-top: 20px; margin-bottom: 20px; font-size: 18px; border-top: 1px solid var(--darkgrey);border-bottom: 1px solid var(--darkgrey);  }
.c-footer-bottom p {  padding: 0; margin: 0;}
.c-footer-bottom span { color: var(--blue);}
.c-footer-w .disclaimer {color: var(--black);font-size: 14px;font-style: italic;padding: 0 0 20px 0;}
.c-footer-w .disclaimer a:hover { color: var(--orange);}


/*footer*/




